

.f-card {
  /*height:400px;*/
  background-color:white ;
  width:100%;
  border: 1px solid #d0d1d5;
  border-radius:3px;
  margin: auto;
  margin-bottom:10px;
  padding: 12px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, .30); /* Not original, just a test */
}

.header {
  display: flex;
  border-bottom: #e4e6ef;
}
.username{
  text-shadow: 0.2px 0.2px 1px #000000;
  padding: 2%;
  
}
.content{
  color: black;
  text-align: justify;
  padding: 2%;
  font-family: "Times New Roman", Times, serif;
}
.image_post {
  background: #e4e7ea;
  border: 1px solid #e6e9ed;
  width: 400px;
  height: 300px;
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.image-cover {
  object-fit: cover;
  object-position: right top;
}
.img_profile {
  margin: 5px 0px 5px 5px;
  border-radius: 50%;
  width:70px;
  padding-bottom:2px;
}
.footer{
  border-top: #453f3f solid 1px;
  margin: 1 px;
  
}
button.like{
	width: 30px;
	height: 30px;
	margin:3px ;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 3px;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}
button.comment{
	width: 30px;
	height: 30px;
	margin: 3px;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgb(117, 82, 255);
	background-color: rgba(82, 85, 92, 0.3);
	border-color: rgb(108, 82, 255);
	border-width: 1px;
	font-size: 15px;
}